<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<!-- Run tests serially due to https://github.com/cbeust/testng/issues/1379
     <suite name="AppVeyor" parallel="methods" preserve-order="false"> -->
<suite name="AppVeyor" preserve-order="false">
  <test name="AppVeyor">
    <packages>
      <package name="name.kevinlocke.appveyor" />
    </packages>
  </test>
</suite>
